body{
	background-image: url('images/bluehexagonbg.jpg');
}

p{
	color: #808000;
	font-family: 'Lato', sans-serif;
	margin: 0px 0px 0px 0px;
}
	header{
		border: 5px;
		color: #808000;
		font-family: 'Lato', sans-serif;
		margin: 10px 10px 10px 10px;
		text-decoration-line:black; 
		text-align: center;
		border:3px solid;
	}